body {
  padding: 0;
  margin: 0;
}
nav {
  background: coral;
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.3rem;
}
span {
  border: 1px orange !important;
}

.nav-bar li:first-child {
  float: left;
}

.nav-bar li {
  color: white;
  float: right;
}

.nav-bar li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: 0.5s;
}

#products ul {
  padding: 15px;
}
#productNames {
  padding: 0px !important;
}
#productNames li {
  float: left;
  padding: 10px;
}

.fas {
  color: steelblue !important;
  float: right;
  margin-right: 2vw;
}
section li {
  margin-bottom: 10px;
}
section .numberofItem {
  /* float: right; */
  border: 1px solid steelblue;
  background: steelblue;
  width: 15px;
  padding: 2px;
  float: right;
  text-align: center;
  color: white;
}
.productPostion {
  position: absolute;
}
.hide {
  opacity: 0;
  transition: 0.8s;
}

.show {
  opacity: 1;
  transition: 0.9s;
}
.productPostion:nth-child(0) {
  background: orange;
}

#selectedItems {
  float: right;
  background: #ddd;
  padding: 1rem;
}

.fa-bitbucket {
  color: #333;
  font-size: 2rem;
}
.bit-bucket {
  padding: 10px;
}
.fa-bitbucket::after {
  content: attr(data-content);
  color: #fff;
  position: relative;
  margin-left: -10px;
  top: -10px !important;
}
#products li {
  text-align: center;
  padding: 10px;
  float: left;
}
#productNames {
  position: fixed !important;
  top: 38px !important;
  z-index: 1 !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
#productsNames li {
  /* align-content: center;
  justify-content: center; */
}
#products {
  display: flex;
  align-content: center;
  justify-content: center;
}
.productPostion {
  margin-top: 50px;
}
img {
  width: 300px;
  height: 350px;
}
@media only screen and (max-width: 700px) {
  img {
    width: 200px;
    height: 250px;
  }
  #products li {
    text-align: center;
    padding: 10px;
    float: none;
  }

  #productNames li {
    float: left;
  }
}
